name: Deploy Laravel App to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /home/devops/apps/laravel-devops-project
            git pull origin main
            docker compose down
            docker compose up -d --build
            docker exec -i laravel_app composer install --no-interaction --prefer-dist --optimize-autoloader
            docker exec -i laravel_app php artisan migrate --force
            docker exec -i laravel_app php artisan config:clear
            docker exec -i laravel_app php artisan cache:clear
            docker exec -i laravel_app php artisan route:clear
            docker exec -i laravel_app php artisan view:clear
            docker exec -i laravel_app php artisan config:cache
